.login{
    height: 100vh;
    background-image: url(../../Images/login-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    
}
.login .contact-form{
    padding: 50px 80px;
    width: 30%;
    min-height: 550px;
    background-color: #fff;
    margin: 0 auto;
}
.login.input.form-control {
    width: 300px;
}

.login-btn{
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 668px) {
    .login .contact-form{
        width: 90%;
        padding: 30px 50px;
    }
    .google-btn{
        width: 100%;
    }
  }