.nav-menu {
    color: #fff;
    padding: 0px 13px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.logo {
    color: #555;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.navbar{
    background: -webkit-linear-gradient(
        45deg, #43DDE6 0%, #9870FC 100%);
}
.user-name{
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-style: italic;
}
