.hero-area{
    background-image: url(../../../Images/hero-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.hero-area {
    display: flex;
    align-items: center;
}

.hero-content {
    width: 50%;
}



@media only screen and (max-width: 668px) {
    .hero-content {
        width: 70%;
        padding: 10px;
    }
  }