.hero-area{
    background-image: url(../../../Images/hero-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.hero-area {
    display: flex;
    align-items: center;
}

.hero-content {
    width: 50%;
}